<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <form action="{% url 'addProduct' %}" method="post">
      {% csrf_token %}
      <h2>Add new product</h2>
      <input
        type="text"
        name="productName"
        placeholder="Enter your productName"
      />
      <input type="text" name="price" placeholder="Enter your productPrice" />
      <button type="submit">submit</button>
      <a href="{% url 'addProduct' %}">view prodcuct</a>
    </form>
    <!-- <div>hi</div> -->
  </body>
</html>
